body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #85E0B8;
    font-family: "Beiruti", sans-serif;
    font-size: 30px;
    border-bottom: 1px solid black;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    
}

header a{
    color: gray;
    text-decoration: none;
}

a:hover{
    color: rgba(128, 122, 122, 0.307);
}

.tags{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

header img{
    width: 20px;
   
}

.searchbox{
    position: relative;
}

.searchbox img{
    position: absolute;
    right: 0;
    top: 7px;
}

.search-input{
    border: none;
    position: relative;
    top: -5px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

main h1{
    font-size: 80px;
    font-family:"Playwrite DE VA", cursive;
    text-align: center;
    border-bottom: 6px dashed #7C6D1984;
    padding: 20px ;
    margin-left: 100px;
    margin-right: 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
   }

section{
    display: flex;
    position: relative;
    flex-direction: column;
    border: 5px solid #E0D384 ;
    border-radius: 20px;
    padding: 20px;
    background-color: #F8F5EA;
    padding-bottom: 50px;
    width: 28%;
    
}


section h2{
    font-size: 30px;
    font-family: "Beiruti", sans-serif;
    
}

section img {
    width: 90%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    }

section p{
    font-family: "Shantell Sans", cursive;
    margin-bottom: 50px;
    
}    

.more{
    width: 7%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    background-color: #E0D384;
    color: white;
    font-family: "Beiruti", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
    }

footer{
    border-top: 1px solid black;
    height: 50px;
    text-align: center;
    margin-top: 100px;
    padding-top: 25px;
    background-color: #85E0B8;
}
